<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css">
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap" rel="stylesheet">
 
<style>
    body{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
  }
  
  
  
  .left_area h3{
    color: #fff;
    margin: 0;
    text-transform: uppercase;
    font-size: 22px;
    font-weight: 900;
  }
  
  .left_area span{
    color: #19B3D3;
  }
  
  .sidebar {
    background: #29aae1;
    top: 0%;
    padding-top: 30px;
    position: fixed;
    left: 0;
    width: 250px;
    height: 100%;
    transition: 0.5s;
    transition-property: left;
    
  }
  
   h1{
    color: #004890;
    margin-top: 0;
    margin-bottom: 20px;
  }
  
  .sidebar a{
    color: #fff;
    display: block;
    width: 100%;
    line-height: 60px;
    text-decoration: none;
    padding-left: 40px;
    box-sizing: border-box;
    transition: 0.5s;
    margin-top: 5%;
   
   
    
  }
  .sidebar img{
    margin-left: 2%;
    width :240px;
    height:110px;
  }
  
  .sidebar a:hover{
    background: #00489073;
  }
  
  .sidebar i{
   
   left: 2px;
  }
  
  label #sidebar_btn{
    z-index: 1;
    color: #fff;
    position: fixed;
    cursor: pointer;
    left: 300px;
    font-size: 20px;
    margin: 5px 0;
    transition: 0.5s;
    transition-property: color;
  }
  
  label #sidebar_btn:hover{
    color: #19B3D3;
  }
  
  #check:checked ~ .sidebar{
    left: -190px;
  }
  
  #check:checked ~ .sidebar a span{
    display: none;
  }
  
  #check:checked ~ .sidebar a{
    font-size: 20px;
    margin-left: 170px;
    width: 80px;
  }
  
  .content{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    margin-top: 150px;
  }
  
  #check:checked ~ .content{
    margin-left: 60px;
  }
  
  #check{
    display: none;
  }

</style>  


<body>

  <div class="sidebar">
     
        
    
    <img  src="https://www.bancounion.com.bo/Imagenes/bancounionnew.png" alt="">
   
 
<a routerLink="/domains"><i class="fas fa-bookmark"></i><span> Dominios</span></a>
<a routerLink="/users"><i class="fas fa-user"></i><span>Usuarios</span></a>
<a routerLink="/users"><i class="fas fa-address-card"></i><span>Roles</span></a>
<a routerLink="/formulariofiltrar"><i class="fas fa-calendar-alt"></i><span>Reportes</span></a>

</div>
    

    <div class="content">
        <div class="header">
           <img src="https://www.bancounion.com.bo/Imagenes/bancounionnew.png" alt="">
        </div>
        
     </div>

  </body>
