
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap" rel="stylesheet">
 
    <h1>¿Qué te pareció mi atención?</h1>



    <div class="ventana" id="vent1">  
        <h3>Seleccione un motivo:</h3>
       
        <label for="" routerLinkActive="active">
            <a class="enlace2" routerLink="/paginalogo">Espere demasiado en colas</a><br>
        </label>
        <hr class="hr2">
       
        <label for="" routerLinkActive="active">
            <a class="enlace2" routerLink="/paginalogo">No recibí un buen trato (Azafata, Seguridad)</a><br>
        </label>
        <hr class="hr2">
        
        <label for="" routerLinkActive="active">
            <a class="enlace2" routerLink="/paginalogo">Poco espacio, no hay sillas</a><br>
        </label>
        <hr class="hr2">
        
        <label for="" routerLinkActive="active">
            <a class="enlace2" routerLink="/paginalogo">El Cajero Automático esta en mal estado</a><br>
        </label>
        <hr class="hr2">
       
        <label for="" routerLinkActive="active">
            <a class="enlace2" routerLink="/paginalogo">Tardaron en darme una solución</a><br>
        </label>
        <hr class="hr2">
        
        <label for="" routerLinkActive="active">
            <a class="enlace2" routerLink="/paginalogo">Otro</a><br>
        </label>
        <hr class="hr2">
     </div>
     <div class="ventana2" id="vent2" routerLinkActive="active" >
        <a class="enlace2" routerLink="/paginalogo"> <h2>¡Muchísimas gracias por tu opinión!</h2></a>
     </div>
    
    

    <section class="card"   >
        
        <div class="card__perfil" >
            <div class="card__nombre" >
            <img src="assets/img/muyinstatisfecho.jpg" alt="">
            </div>
            
            <hr>
            <div class="card__button" >
                <div class="card__button">
                    <a class="enlace" href="javascript:abrir1()">Muy Insatisfecho</a>
                </div>
            </div>
        </div>
        <div class="card__perfil">
            <div class="card__nombre">
            <img src="assets/img/insatisfecho.jpg" alt="">
            
            </div>
            <hr>
            <div class="card__button">
                <div class="card__button">
                    <a class="enlace" href="javascript:abrir1()">Insatisfecho</a>
                </div>
            </div>    
        </div>
        <div class="card__perfil">
            <div class="card__nombre">
            <img src="assets/img/neutral.jpg" alt="">
            
            </div>
            <hr>
            <div class="card__button">
                <div class="card__button">
                    <a class="enlace" href="javascript:abrir1()">Neutral</a>
                </div>
            </div>    
        </div>
        <div class="card__perfil">
            <div class="card__nombre">
            <img src="assets/img/satisfecho.jpg" alt="">
            
            </div>
            <hr>
            <div class="card__button">
                <div class="card__button" routerLinkActive="active">
                    <a class="enlace" routerLink="/paginalogo">Satisfecho</a>
                </div>
            </div>    
        </div>
        <div class="card__perfil">
            <div class="card__nombre" >
            <img src="assets/img/muysatisfecho.jpg" alt="">
           
            </div>
            <hr>
            <div class="card__button">
                <div class="card__button" routerLinkActive="active">
                    <a class="enlace" routerLink="/paginalogo">Muy Satisfecho</a>
                </div>
            </div>    
        </div>
    </section>



