*
{
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
  
    background-color: #ffffff;
}
h1
{
    text-align: center;
    padding: 10px;
    color: #004990;
    margin-top: 110px;
    
   
}
h3
{
    text-align: center;
    padding: 10px;
    color: #004990;
  background: #29aae1;
  margin-top: 5px;
  
  
}
h2
{
    text-align: center;
    padding: 10px;
    color: #004990;
  background: #29aae1;
  margin-top: 5px;
  
 
}

.ventana
{
    position: fixed;
    background: #29aae1;
    width: 65%;
    color: rgb(0, 0, 0);
    font-family:  "Poppins", sans-serif;
    font-size: 27px;
    text-align: center;
    padding: 33px;
  
    border-radius: 15px;
   
    left: 20%;
    top: 1%;
    transition: all 500ms ease;
    display: none;
    
    flex-wrap: wrap;
    text-align: left;
    gap: 5px;
    justify-content: center;
    
   
}
.ventana2
{
    position: fixed;
    background: #29aae1;
    width: 45%;
    color: rgb(0, 0, 0);
    font-family:  "Poppins", sans-serif;
    font-size: 30px;
    text-align: center;
    padding: 33px;
  
    border-radius: 15px;
   
    left: 27%;
    top: 25%;
    transition: all 500ms ease;
    display: none;
    flex-wrap: wrap;
    text-align: left;
    gap: 5px;
    justify-content: center;
   
}
.card
{
    width: 100%;
    display: flex;
    gap: 50px;
    flex-wrap: wrap; /*para cuando no encaja mas ira bajando*/
    justify-content: center;
    margin-top: 60px;
  

   
 

}

.card__perfil
{
    width: 310px;
    padding: 20px;
    box-shadow: 1px 1px 5px rgb(170, 165, 165);
      border: solid rgba(9, 31, 46, 0);
      border-radius: 10px;
  
      
}
.card__perfil:hover{
    border: solid #29aae1;
  
}

img{
    width: 140px;
    border-radius: 50%;
    box-shadow: 2px 2px 5px rgb(216, 216, 216);
    /*transform: rotate(-30deg);
    transition: all .3s;*/
    

}

.card__nombre
{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    

}
hr
{

    margin: 20px 200px;
    
    
}
.hr2
{
    margin: 20px 15px;
}

.enlace
{
    background: #29aae1;
    padding: 8px 40px;
    color: rgb(255, 255, 255);
    text-decoration: none;
    border-radius: 15px;
    
 
}
.enlace2
{
    padding: 8px 40px;
    color: #F5F5F5;
    text-decoration: none;
    background: #29aae1;  
    
 
}

.card__button
{
    text-align: center;
    
}

#cerrarventana
{
    position: absolute;
    left: 30;
  
}

